.hero_section_area {
    background: #FFF2EC;
}

.category_menu_compo_x {
    height: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #FFF;
    border: 1px solid gray;
}

.carousel_slider_compo_x {
    height: 100%;
}

.category_menu_area li {
    font-size: 18px;
    font-weight: 600;
    padding: 4px;
    border-bottom: 1px solid gray;
}

.category_menu_area li:last-child {
    border: none;
}

.category_menu_area li:hover {
    background: gray;
    border-radius: 3px;
}