.top_nav_area {
    background: #ECECEC;
}

.main_nav_area {
    background: #fff;
}

.bottom_nav_area {
    background: darkseagreen;
}

.top-menu li a{
    font-size: 12px;
    margin-left: 30px;  
    color: #000;
    display:block;
}




@media only screen and (max-width: 991px) {
 .top_nav_area{
    display: none;
 }

}